<html>

  <head>
    <title>projectr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>

    <header>
      <h1>projectr</h1>
      <hr>
    </header>

    <a href="https://github.com/umd-mith/projectr">
      <img id="forkme" src="{{ url_for('static', filename='images/forkme.png') }}" alt="Fork me on GitHub">
    </a>

    <p><em>projectr</em> is a <a href="https://www.martinfowler.com/articles/microservices.html">microservice</a> that lets you upload a <a href="https://en.wikipedia.org/wiki/Adjacency_list">graph edge list</a> as a two column CSV file and get back a <a href="https://en.wikipedia.org/wiki/Bipartite_network_projection">weighted bipartite projection</a> of that graph as a CSV.</p>

    <form id="upload" action="/" enctype="multipart/form-data" method="post">
      <ol>
        <li>Select an edge list CSV File: <input name="file" type="file"></li>
        <li>Pick a column of nodes to project onto: 
          <select name="column">
            <option value="1">Column 1</option>
            <option value="2">Column 2</option>
          </select>
        </li>
        <li>
          Submit your request: <input type="submit" value="Upload">
        </li>
      </ol>
    </form>

    <p>Or if you prefer you can upload your file on the command line using <a href="https://curl.haxx.se/">curl</a>:</p>

    <div id="curl">
      % curl -F file=@/path/to/file.csv -F column=1 {{ request.url }}
    </div>

  </body>

</html>
